body {
    background-image: url("../img/mountains.png");
    background-position: center top;
    background-repeat: repeat-y;
    font-family: 'Montserrat', sans-serif;
    color: #ADB7AD;
}

a{
    color: #ADB7AD;
}
a:hover{
    color: white;
}
p{
    color: #ADB7AD;
}