main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 100%;
    margin-top: 3em
}

.mainDiv{
    margin-top: 12em;
    width: 500px;
    padding: 40px;
    border-radius: 8px;
    background-color: #336033;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 5px 10px rgb(0,0,0,0.3);
}

.profilePic{
    max-width : 200px;
    max-height: 200px;
    float: right;
    margin-left: 20px;
}

#editLink{
    float: right;
}
.logout {
    border-style: none;
    border-radius: 5px;
    background-color: white;
    color: #336033;
    font-size: .99em;
    font-weight: 700;
    padding: 8px 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
    cursor: pointer;
    margin-top: 3em;
}