.thread{
    border: 1px solid #0c0505; 
    padding: 10px; 
    margin: 20px;
    background-color: white;
}
.search h1{
    display: inline;
    float: left;
    margin-left: 0.2em;
}
h1,h2{
    font-weight: bold; 
    margin-bottom: 5px;
    color: #336033 !important;
}

p{
    margin-bottom: 5px;
}

.button {
    display: inline;
    padding: 10px 20px;
    background-color: #ccc;
    color:#336033;
    text-decoration: none;
    border-radius: 4px;
    float: right;
    margin: 1em;
    font-weight: bold;
  }
.delete{
    display: inline;
    padding: 10px 20px;
    background-color: red;
    color:white;
    text-decoration: none;
    border-radius: 4px;
    float: right;
    margin: 1em;
    font-weight: bold;
    cursor: pointer;
}
.title{
    display: inline;
    padding-left: 20px;
}

.msg{
    float: right;
    color:#336033;
    margin: 1em;
    margin-top: 2em;
}
.np{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    color: #336033;
    text-decoration: none;
    border-radius: 4px;
    margin: 1em;
    text-align: center;
    font-weight: bold;
}

  .search {
    display: inline;
    justify-content: center;
    align-items: center;
    height: 80px; 
    width: 100%;
  }

  .search form {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5em;
  }

  .search input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 2.15em;
  }
  
  .search input[type="button"] {
    padding: 10px 20px;
    background-color: #ccc;
    color: #336033;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 2.15em;
  }

  select {
    display: inline-block;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 2.15em;
    font-weight: bold;
    color: #336033;
    background-color: #ccc;
  }

  option {
    color: #336033;
    background-color: white;
  }
  label{
    color: #336033;
    text-emphasis: bold;
    margin-top: 2.5em;
    margin-left: 1em;
  }
  img{
    max-width: 100px;
    max-height: 100px;
  }

  .threadLeft{
    padding: 5px;
    border: 1px solid black;
    display: inline-block;
    margin-right: 10px;
  }
  .threadRight{
    display: inline-block;
  }

  .author{
    font-weight: bold; 
    text-align: center;
    margin-top: 0px;
}
.threadTitle{
  margin-top: 0px;
  margin-bottom: 0px;
}

.threadLastPost{
  margin-top: 0px;
  margin-bottom: 0px;
}
    